<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="TransactionServiceImplPortBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://dev-gw.efact.pe:8686/connector_retail/TransactionService65fda860de4211e4b9d61681e6b88ec1"
                binding="customBinding" bindingConfiguration="TransactionServiceImplPortBinding"
                contract="WSServillantas.TransactionService" name="TransactionServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>